#turncounter {
  width: 110px;
  height: 120px;
  position:absolute;
  top: 0px;
  right: 0px;
}

#speedometer
{
   position: absolute;
   top: 0px;
   left: 0px;
   width: 200px;
   height: 120px;
}

#speedometer text:nth-child(6) tspan{
  font-size: 0.8em !important;
}

#turntimes {
width: 110px;
height: 120px;
position: absolute;
top: 100px;
right: 0px;
color: white;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
font-size: 9px;
}

#turntimes li {
  list-style: none;
}

#wrongDirection {
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
